<div id="result" class="w-full flex flex-col items-center justify-center gap-4">
  <h1 class="text-2xl"><%= title %></h1>

  <%= form_with url: path, local: true, method: :post, multipart: true, class: 'flex flex-col items-center justify-center gap-4' do |form| %>
    <%= form.file_field :image, class: 'mx-auto w-2/3' %>
    <%= form.submit "Upload", class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  <% end %>

  <%= link_to '首頁', root_path, class: 'bg-red-300 hover:bg-red-500 text-white font-bold py-2 px-4 rounded' %>
</div>
